<form action="/payment/results">
<label for="blue">APR</label>
<input id="blue" type = "text" 
placeholder="E.g. 1.5"
name = "bluemonk">
<label for="red">Number of years</label>
<input id="red" type = "text" 
placeholder="E.g. 79.5"
name = "redmonk">
<label for="green">Principal</label>
<input id="green" type = "text" 
placeholder="E.g. 79.5"
name = "greenmonk">
<button>Calculate monthly payment</button>
</form>