<form action="/square_root/results">
<label for="blue">Enter a number</label>
<input id="blue" type = "text" 
placeholder="What number do you want to square root?"
name = "red">

<button>Calculate square root</button>
</form>